/* src/style.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* 余白部分は黒にする */
  overflow: hidden; /* スクロールバーを消す */
  touch-action: none; /* スマホでの誤タップ（拡大など）を防ぐ */
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}